<div class="wrap">
    <div class="link">
        <div class="image image1"></div>
        <h2>Angular list of prohibted words</h2>
        <div class="buttonWrap">
            <button [routerLink]="[ '/cenzor']">details</button>
        </div>
    </div>
    <div class="link">
        <div class="image image2"></div>
        <h2>Angular task list</h2>
        <div class="buttonWrap">
            <button [routerLink]="[ '/tasklist']">details</button>
        </div>
    </div>
    <div class="link">
        <div class="image image3"></div>
        <h2>Angular users list</h2>
        <div class="buttonWrap">
            <button [routerLink]="[ '/userlist']">details</button>
        </div>
    </div>
</div>